@inherits CommentComponentBase

<!-- Edit comment section -->
@if (comment is not null)
{
    <div class="edit-comment-section mb-2">
        <input type="text" @bind="comment.Body" class="form-control" placeholder="Comment Body" />
        <button @onclick="OnSaveButtonClicked" class="btn btn-success btn-sm">Save</button>
        <button @onclick="OnCancelButtonClicked" class="btn btn-secondary btn-sm">Cancel</button>
    </div>
}

@code {
    [Parameter] public EventCallback<Comment> OnSave { get; set; }

    private async Task OnSaveButtonClicked()
    {
        await OnSave.InvokeAsync(comment);
        await NotifyCommentStateChanged(ViewMode.View);
    }

    private async Task OnCancelButtonClicked()
    {
        await NotifyCommentStateChanged(ViewMode.View);
    }
}