@inherits CommentComponentBase

@if (comment is not null)
{
    <div class="add-comment-section mb-2">
        <input type="text" @bind="comment.Title" class="form-control" placeholder="Username" style="width: fit-content"/>
        <input type="text" @bind="comment.Body" class="form-control" placeholder="Add a comment" />
        <button @onclick="OnAddButtonClicked" class="btn btn-primary btn-sm">place</button>
    </div>
}

@code {
    [Parameter] public EventCallback<Comment> OnSave { get; set; }

    private async Task OnAddButtonClicked()
    {
        await OnSave.InvokeAsync(comment);
        // await NotifyCommentStateChanged(ViewMode.View);
    }
}
