@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navbar navbar-dark navbar-expand-lg w-100 custom-navbar-shadow" style="background-color: #68AFC1;">
    <div class="container-fluid d-flex justify-content-center">
        <AuthorizeView>
            <Authorized>
                <a class="navbar-brand" style="font-weight: bold; font-size: 24px;" href="">
                    <img src="images/logo_text.png" alt="Snapocalypse Logo" style="width: 120px; height: 50px; margin-right: 10px;">
                </a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
@* <NotAuthorized>
</NotAuthorized> *@

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}


