<div class="navbar navbar-dark navbar-expand-lg w-100 custom-navbar-shadow" style="background-color: #68AFC1;">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" style="font-weight: bold; font-size: 24px;" href="">
            <img src="images/logo_text.png" alt="Snapocalypse Logo" style="width: 120px; height: 50px; margin-right: 10px;">
        </a>
    </div>
</div>





